<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
<h3><%%= t(:<%= plural_table_name %>) %></h3>

<%% if policy(<%= namespace %>::<%= class_name %>).create? %>
  <%%= link_to t(:new_<%= singular_table_name %>), new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
<%% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="table-responsive">
      <%%= page_entries_info @<%= plural_table_name %> %>
      <%%= table_for @<%= plural_table_name %>, table_html: { class: 'table table-hover table-stripped' },
                    sortable: true,
                    data_row_html: {} do |table| %>
      <%% table.column :id, data: lambda { link_show(table.current_row, table.current_row.id, <%= namespace.to_s.underscore %>) } %>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <%% table.column :<%= attribute.name %>, data: lambda { best_in_place_if policy(table.current_row).update?, table.current_row, :<%= attribute.name %> } %>
      <% end -%>
        <%% table.footer do %>
          <div class="pull-right">
            <%%= paginate @<%= plural_table_name %> %>
          </div>
        <%% end %>
      <%% end %>
    </div>
  </div>
</div>
